*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.img-menu{
    max-width: 1200px;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    list-style: none;
   margin: 0 auto;
   padding: 20px;
    /* gap: 500px; */
    
}
.img-menu button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
}
.container1{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
      background-color: #F4F4F5;
   max-width: 1400px;

   margin-top: -200px;
   margin: 0 auto;
   border-radius: 10px;
}

.cont-box1{
    font-size: 40px;
}
.text-none{
    font-size: 25px;
    display: none;
    text-align: center;
    margin-top: 20px;
}
.cont-text1{
    font-size: 25px;
    
}
.btn-cont1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.btn-cont1 button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    border: none;
}
.box-text1{

    color: white;
display: flex;
flex-direction: column;
    gap: 20px;
    padding: 40px 20px;
}
.cont-row{
    margin-top: 20px;
    display: flex;
        background-color: #28303D;
      border-radius: 10px;  
}
.cont-row img{
    width: 200px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}
.btn-phone {
    background-color: #D7B18D;
    border: none;
    border-radius: 5px;
   display: flex;
   justify-content: center;
  padding: 15px 10px;
  cursor: pointer;
    gap: 10px;
}
.btn-phone img{
    display: flex;
    justify-content: center;
   
}
.cont-btn01{
    margin-top: 30px;
    display: flex;
   align-items: center;
   gap: 10px;
}
.image-boy{
    position: relative;
  
   
}
.backfon{
background-color: #28303D;
padding: 10px;
border-radius: 5px;

}
.app-next{
    position: absolute;
    left: 300px;
    top:180px;
    z-index: 1;
}
    .img-boy{
        position: relative;
        z-index: 2;
    }

    @media(max-width: 600px){
.img-menu{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
}

.container1{
    display: flex;
    justify-content: center;
    flex-direction: column;
  background-color: white;
   
}

.text-none{
    display: flex;
    justify-content: center;
    align-items: center;
}
 .cont-box1{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 40px;
 }

.image-boy{
   display: flex;
   order: 1;
}
.box-text1{
    order: 2;
}
.cont-row{
    order: 3;
}

    }
.container2{
    position: relative;
    top: 100px;
display: flex;
justify-content: center;
justify-content: space-around;
align-items: center;
 background-color: #212731;
 max-width: 1400px;
 border-radius: 10px;
 margin: 0 auto;

}
.text-row{
    display: flex;
    gap:30px;
}

    .cont-box2{
     display: flex;
     flex-direction: column;
        color: white;
       
        padding: 40px 30px;
        gap: 15px;
    }
.vacansion{
    font-size: 40px;
    font-weight: 600;
    margin-top: 200px;
    display: flex;
    justify-content: baseline;
    align-items: baseline;
    text-align: justify;
    padding: 50px;
}
.container3{
    display: flex;
    flex-direction: column;
}
  

.box-cont3{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.box-border1{
    border: 1px solid rgba(0, 0, 0, 0.174);
    padding: 30px 20px;
    border-radius: 5px;
       display: flex;
    flex-direction: column;
    gap: 10px;
}
.text-data1{
 
    color: rgba(0, 0, 0, 0.463);
}
.text-money{
  font-weight: 600; 
  font-size: 18px; 
}
.btn-gray1{
    background-color: #D7B18D;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.btn-gray2{
    background: none;
    
     padding: 10px 15px;
       border-radius: 5px;
       cursor: pointer;
}
.container03{
    display: flex;
    justify-content: space-around;
}

.box-cont03{
display: flex;
justify-content: center;
justify-content: space-around;
gap: 10px;

}
.box-border2{
   border: 1px solid rgba(0, 0, 0, 0.174);
    display: flex;
    flex-direction: column;
    justify-content: center;
  
    gap: 30px;
    padding: 20px 20px;
    margin-top: 20px;
    border-radius: 5px;
}
.green-color{
    color: #65C793;
}
.row-cont3{
    display: flex;

  
    gap: 38px;
}
.compani{
     font-size: 40px;
    font-weight: 600;
    margin-top: 100px;
    display: flex;
    justify-content: baseline;
    align-items: baseline;
    text-align: justify;
    padding: 50px;   
}

.container4{
   display: flex;
    justify-content: space-around;
}
.box-cont4{
    display: flex;
    justify-content: space-around;
   gap: 10px;
}

.box-text4{
    display: flex;
    flex-direction: column;
    gap: 30px;
   border: 1px solid rgba(0, 0, 0, 0.174);
padding: 20px;
border-radius: 5px;
}
.peterochka{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.box-peterochka{
    display: flex;
   gap: 100px;
  align-items: center;
}
.btn-peterochka{
    padding: 10px 20px;
    background-color: white;
    border-radius: 5px;
    border-color: #D7B18D;
}
.text-peterochka{
    font-weight: 600;
}
.container5{
    max-width: 1400px;
    margin: 0 auto;
    
}
.box-cont5{
    padding: 20px;
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    font-size: 30px;
    background-color: #F4F4F5;
    border-radius: 5px;
}
.btn-number5{
    display: flex;
    align-items: center;
    justify-content: space-between;
   padding: 10px 10px;
   position: relative;
   background-color: white;
   border: none;

}
.btn-number5 span{
margin-left: 80px;
font-size: 18px;
background-color: #F4F4F5;
padding: 5px 15px;
border-radius: 3px;

}


.btn5{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
   
}
.text-box05{
    font-size: 15px;
}
.btn-img{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #28303D;
color: white;
padding: 10px 20px;
gap: 10px;
font-size: 20px;
border-radius: 5px;
}
.container6{
margin-top: 100px;
display: flex;
justify-content: space-around;
}
.box-cont6{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.container7{
    max-width: 1400px;
    position: relative;
display: flex;
justify-content: space-around;
margin: 0 auto;

}

.vector{
  position: absolute;
  background-color: #212731;
  padding-left: 130px;
  top: 100px;
   border-radius: 5px; 
}
.finish-text{
    font-size: 13px;
}
.box-cont7{
    position: absolute;
    top: 150px;
  left: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: white;

}
.box-cont07{
    position: absolute;
    top: 140px;
    display: flex;
    justify-content: center;
   
    flex-direction: column;
    background-color: white;
    padding: 20px 20px;
    gap: 20px;
    border-radius: 40px;

}
.cont-box01{
    font-size: 60px;
    font-weight: 600;
}
.img-phone img{
    position: absolute;
    top: 100px;
    right: 330px;
    width: 380px;
}
footer{
    position: relative;
    top: 350px;
    max-width: 1410px;
    height: 250px;
    background-color: #F4F4F4;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    border-radius: 10px;

}